@model IEnumerable<Penny_Wise.Models.Goal>

@{
    ViewData["Title"] = "Goals";
}

<div class="main">
    <div class="container">
        <a asp-action="AddNew" class="button button-action">Add goal</a>        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Account</th>
                <th>Amount to save (EUR)</th>
                <th>Till</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                 
            @foreach (var item in Model)
            {
                @*@Html.HiddenFor(modelItem => item.Account)*@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @item.DateTo.Date.ToString("MM-dd-yyyy")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
