@model IEnumerable<Penny_Wise.Models.Transaction>
@using System.Globalization
@using System.Threading.Tasks
@{
    ViewData["Title"] = "Overview";
}

<div class="main">
    <div class="container">
        <select name="overview-select-date">
            @foreach (var date in ViewBag.Dates)
            {
                <option value="@date">@date.ToString("MMMM yyyy", CultureInfo.CurrentCulture = CultureInfo.CurrentUICulture)</option>
            }
        </select>
        <select name="overview-select-account">
            @foreach (var acc in ViewBag.Accounts)
            {
                <option value="@acc.ID">@acc.Type</option>
            }
        </select>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Value (EUR)</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Type)
                            {
                                <p>Income</p>
                            }
                            else
                            {
                                <p>Expense</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @item.Date.Date.ToString("MM-dd-yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <canvas id="canvas-line-chart" class="overview"></canvas>
    </div>
</div>

@section Scripts {
<!-- Scripts -->
    <script type="text/javascript" src="~/js/line-chart.js"></script>
}